/* common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    font-family: 'Balsamiq Sans', cursive;
    padding: 0;
}

/* fonts */

@font-face {
    font-family: 'Balsamiq Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Balsamiq Sans Regular'), local('BalsamiqSans-Regular'), url(https://fonts.gstatic.com/s/balsamiqsans/v2/P5sEzZiAbNrN8SB3lQQX7PncwdMXILdN.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Balsamiq Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Balsamiq Sans Regular'), local('BalsamiqSans-Regular'), url(https://fonts.gstatic.com/s/balsamiqsans/v2/P5sEzZiAbNrN8SB3lQQX7PncwdoXILdN.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Balsamiq Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Balsamiq Sans Regular'), local('BalsamiqSans-Regular'), url(https://fonts.gstatic.com/s/balsamiqsans/v2/P5sEzZiAbNrN8SB3lQQX7PncwdAXILdN.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Balsamiq Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Balsamiq Sans Regular'), local('BalsamiqSans-Regular'), url(https://fonts.gstatic.com/s/balsamiqsans/v2/P5sEzZiAbNrN8SB3lQQX7Pncwd4XIA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* default tags */

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

h3 {
    margin-bottom: 10px;
}

h4 {
    color: #555;
    font-weight: normal;
}

small {
    color: #555;
}

select {
    border: 1px solid #ff523b;
    padding: 5px;
}

input:focus {
    outline: none;
}

a.active {
    color: tomato;
}

a.link:hover {
    color: tomato;
}

select:focus {
    outline: none;
}

/* grid */

.container {
    max-width: 90%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.row-right {
    width: 100%;
    display: inline-block;
    text-align: right;
}

.row-2 {
    justify-content: space-between;
    margin: 50px auto 50px;
}

.col {
    flex-basis: 100%;
}

.wide-col {
    margin-top: 5px;
    flex-basis: 100%;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-3 {
    flex-basis: 33.33%;
    min-width: 250px;
    margin-bottom: 10px;
    padding: 10px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-60p {
    flex-basis: 60%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-40p {
    flex-basis: 40%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-70p {
    flex-basis: 70%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-30p {
    flex-basis: 30%;
    padding: 10px;
    width: auto;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.box-container {
    background: #fff;
    height: auto;
    position: relative;
    text-align: center;
    padding: 20px 20px;
    margin: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* grid content */

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-3 img {
    width: 100%;
}

.col-4 img {
    width: 100%;
}

.col-4 p {
    font-size: 14px;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.box-container h3 {
    margin-bottom: 15px;
}

/* navigation bar */

.navbar {
    display: flex;
    align-items: center;
    padding: 20px 50px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a:hover {
    color: #ff523b;
    transition: background 0.5s;
}

/* dashboard */

.filter-time {
    flex: 1;
    text-align: right;
}

.filter-time ul {
    display: inline-block;
    list-style-type: none;
}

.filter-time ul li {
    display: inline-block;
    margin-right: 20px;
}

.filter-time ul li a:hover {
    color: #ff523b;
    transition: background 0.5s;
}

/* scroll bar */

.noscroll {
    position: fixed;
    overflow: hidden;
}

::-webkit-scrollbar {
    max-width: 10px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ff523b;
}

::-webkit-scrollbar-thumb:window-inactive {
    display: #ccc;
}

/* forms */

.form-container {
    background: #fff;
    width: 600px;
    height: auto;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container form {
    padding: 10px 0 10px 0;
    margin: 0;
    text-align: left;
    transition: transform 1s;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-container label {
    font-size: 14px;
    margin: 3px 0 0;
}

.form-container input, .form-container select {
    height: 30px;
    margin: 3px 0 15px;
    padding: 0 10px;
    border: none;
    border-bottom: 2px solid #DCADA3;
}

.form-container select {
    border: 2px solid #DCADA3;
}
.form-container input[type="checkbox" i] {
    margin: 0;
}

.form-container textarea {
    width: 180px;
    margin: 3px 0 15px;
    padding: 0 10px;
    border-bottom: 2px solid #DCADA3;
}

form .col-2, form .col-3, form .col-2 input, form .col-3 input {
    text-align: center;
}

form .col-2 {
    margin-bottom: 20px;
}

form .btn {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    cursor: pointer;
    margin: 15px 8px 0 8px;
}

form .btn:focus {
    outline: none;
}

form a {
    font-size: 12px;
}

form label {
    font-size: 14px;
    margin: 0;
}

form input, form select {
    height: 30px;
    margin: 3px 0 3px;
    padding: 0 10px;
    border: 1px solid #DCADA3;
}

form input {
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #DCADA3;
}

form input:hover {
    border-bottom: 2px solid #ff523b;
}

form select {
    margin-top: 5px;
}

form textarea {
    font-size: 14px;
    border: 2px solid #DCADA3;
}

form textarea:hover {
    border: 2px solid #ff523b;
}

.radio-container {
    margin-top: 5px;
    display: inline-flex;
    align-items: center;
}

.radio-container input {
    margin: 0 5px 0 10px;
}

textarea:focus {
    outline: none;
}

/* padding */

.pad-auto {
    padding: auto;
}

.pad-30-0-0-85 {
    padding: 30px 0 0 85px;
}

.pad-l-55 {
    padding: 0 0 0 55px;
}

/* margins */

.mar-b-20 {
    margin-bottom: 20px !important;
}

.mar-b-30 {
    margin-bottom: 30px !important;
}

.mar-t-40 {
    margin-top: 50px;
    margin-left: 135px;
}

.mar-t-50 {
    margin-top: 50px;
}

.no-mar-right {
    margin-right: 0 !important;
}

.margin-l-r-20 {
    margin-left: 20px;
    margin-right: 20px;
}

/* alignments */

.center-content {
    display: flex;
    justify-content: center;
}

.center-align {
    text-align: center;
}

.text-center {
    text-align: center;
}

.right-align-wide {
    text-align: right;
}

/* buttons */

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    font-size: 16px;
    padding: 8px 30px;
    margin: 20px 5px 20px 5px;
    border-style: none;
    border-radius: 5px;
    transition: background 0.5s;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn-round {
    border-radius: 30px;
}

.btn-square {
    border-radius: 0;
}

.btn:hover {
    background: #fff;
    color: #ff523b;
}

.form-btn {
    display: inline-block;
}

.center-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    cursor: pointer;
}

.table-btn {
    display: inline-block;
    color: #fff;
    border-style: none;
    padding: 3px 8px;
    border-radius: 5px;
    transition: background 0.5s;
    margin: 5px;
    cursor: pointer;
}

.table-btn:focus {
    outline: none;
}

.btn-blue {
    background: #8cdcf5;
}

.btn-blue:hover {
    background: #fff;
    color: #8cdcf5;
}

.btn-grey {
    color: #fff !important;
    background: #666666;
}

.btn-grey:hover {
    background: #fff;
    color: #666666 !important;
}

.btn-red {
    background: #ed2424;
}

.btn-red:hover {
    background: #fff;
    color: #ed2424;
}

/* pre-loader */

#preloader-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #ffffff;
    opacity: 1;
    transition: opacity 1s ease-out;
}

#spinner {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    z-index: 101;
    background-color: #ff523b;
    transition: display 2s;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
    opacity: 1;
    transition: opacity 1s ease-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/* header */

.header {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.header-plain {
    background: none;
}

.header .row {
    margin: 0 70px 70px 70px;
}

.header-plain svg {
    position: absolute;
    z-index: -1;
}

/* category section - index */

.categories {
    margin: 70px 0 40px 0;
}

/* paginations */

.pagination {
    margin-top: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

#numbers {
    padding: 0;
    margin: 0 2rem;
    list-style-type: none;
    display: flex;
}

#numbers li a {
    color: #ff523b;
    padding: .5rem 1rem;
    text-decoration: none;
    opacity: .7;
    border: #ff523b;
}

#numbers li a:hover {
    opacity: 1;
}

#numbers li a.active {
    opacity: 1;
    background: #ff523b;
    color: #fff;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #ff523b;
    color: #fff;
}

/* product ratings */

.ratings .fa {
    font-size: 10px;
    color: #ff523b;
    padding-bottom: 7px;
    margin: 0 3px 0 0;
}

/* titles */

.title {
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title-min {
    margin-bottom: 20px;
}

.title:after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* offer section -index */

.offer {
    background-image: url(http://wasthra.me/public/images/login_image.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.offer-2 {
    background-image: url(http://wasthra.me/public/images/offer_2.jpg);
}

.offer {
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 30px 0;
}

.offer p {
    color: #FFF5EA;
}

.offer h1 {
    color: #fff;
}

.offer small {
    color: #FFE8CE;
}

.offer .col-2 {
    padding-top: 70px;
}

/* footer */

.footer {
    bottom: 0;
    margin-top: 45px;
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 15px;
}

span.custom-size {
    width: auto;
    font-weight: normal;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4, .footer-col-5 {
    min-width: 150px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 25%;
}

.footer-col-5 {
    flex-basis: 25%;
    text-align: right;
}

.footer-col-2, .footer-col-3, .footer-col-4 {
    flex: 1;
    text-align: center;
}

.footer-col-1 img {
    width: 150px;
    margin-bottom: 20px;
}

.footer ul {
    list-style-type: none;
}

.footer ul li a:hover {
    color: #ff523b;
    transition: background 0.5s;
}

.footer .social-icons a {
    font-size: 20px;
    padding-right: 5px;
}

.footer .social-icons a:hover {
    color: #ff523b;
    transition: background 0.5s;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.footer .payment-icons {
    text-align: right;
    font-size: 20px;
    padding-right: 5px;
}

.footer-btn {
    border: none;
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 10px;
    transition: background 0.5s;
}

.footer-btn:focus {
    outline: none;
}

.footer-btn:hover {
    background: #fff;
    color: #ff523b;
}

.footer-txt-field input {
    border: none;
    display: inline-block;
    background: #fff;
    color: #000;
    padding: 8px 5px;
    transition: background 0.5s;
    margin-bottom: 10px;
}

.footer-txt-field input:hover {
    border: none;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*single product details*/

.single-product {
    margin-top: 20px;
}

.single-product img#view-product-img {
    width: 350px;
}

.single-product .row .col-2 {
    padding: 20px;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

.single-product .fa {
    color: #ff523b;
    margin-left: 10px;
}

.gallery-row {
    width: 100%;
    max-width: 350px;
    display: flex;
}

.popup .gallery-row {
    max-width: 255px;
}

.single-product .gallery-row {
    margin: 5px 0 0 auto;
}

.gallery-col {
    flex-basis: 100%;
    cursor: pointer;
    margin-right: 5px;
}

.gallery-col:last-child {
    margin-right: 0;
}

.gallery-col img {
    max-height: 100px;
    max-width: 175px;
    transition: transform 0.5s;
    object-fit: cover;
    object-position: 0 50%;
}

.gallery-col img:hover {
    transform: scale(1.15);
}

.view-more:hover {
    color: #ff523b;
}

.breadcum {
    padding-bottom: 25px;
}

/* cart */

.cart-page {
    margin: 80px auto;
}

.cart-item {
    display: flex;
    flex-wrap: wrap;
}

p.price {
    margin: 0;
}

.total-price {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    text-align: left;
    border-top: 3px solid #ff523b;
    border-bottom: 3px solid #ff523b;
    width: 100%;
}

/* table */

.table-container {
    margin-top: 20px;
    min-height: 400px;
    overflow-x: auto;
}

.table-container table {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:hover {
    background: #fcf2d8;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #ff523b;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

th i {
    cursor: pointer;
}

.table-container td:last-child {
    min-width: 150px;
}

.table-container th:last-child {
    min-width: 150px;
}

/* login */

.account-page {
    padding: 50px 0;
    background: linear-gradient(90deg, rgba(255, 215, 215, 1) 0%, rgba(255, 239, 239, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

.login-form-container {
    background: #fff;
    width: 1000px;
    height: 540px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.login-form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.login-form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 70px;
    transition: transform 1s;
}

.login-form-container input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form#loginForm_m {
    top: 150px;
    left: 0;
}

form#regForm_m {
    width: 100%;
    left: 300px;
}

#indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(0px);
    transition: transform 1s;
}

/* hidden form */

.hidden-form {
    background: #fff;
    position: relative;
    margin-bottom: 20px;
    padding: 0 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.hidden-form label {
    font-size: 14px;
    margin: 3px 0 0;
}

.hidden-form input, .hidden-form select {
    height: 30px;
    margin: 3px 0 15px;
    padding: 0 10px;
}

.hidden-form input[type='radio'] {
    margin: 3px 7px;
}

/* single product content */

.content {
    position: relative;
    max-width: 400px;
    margin: auto;
}

.content .content-overlay {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content .content-onlay {
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-onlay {
    opacity: 0;
}

.content-image {
    width: 100%;
}

.content-onlay .content-details {
    padding: 10px 0 10px 0;
    background: #fff;
    color: #ff523b;
    opacity: 1;
}

.content:hover .content-onlay .content-details {
    opacity: 0;
}

.content-details {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details p {
    color: #ff523b;
    font-size: 28px;
    font-weight: bold;
}

.fadeIn-bottom {
    top: 85%;
}

.fadeIn-top {
    top: 20%;
}

.fadeOut-top {
    top: 85%;
}

i .fa-cart-plus {
    width: 100px;
}

.options {
    padding: 15px 0;
}

.options .text {
    font-size: 24px;
}

.options a {
    font-weight: bold;
    color: #ff523b;
    padding: 5px;
}

.options a:hover {
    color: #ffa8f0;
}

/* ddashboard */

.dashboard {
    margin: 70px 0;
}

.dashboard .row {
    justify-content: center;
}

.dashboard .col-4 {
    padding: 15px;
}

.dashboard .col-4 .content {
    background: #FFE8DA;
}

#map {
    width: 250px;
}

/* order amount summary */

.price-sum {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.price-sum table {
    border: 3px solid #ff523b;
    width: 100%;
    max-width: 380px;
}

/* popup */

.overlay {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 1s;
    visibility: hidden;
    opacity: 0;
    z-index: 102;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    width: auto;
    max-width: 50%;
    max-height: 90%;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 1s ease-in-out;
    overflow: auto;
}

#cart .popup {
    width: auto;
    max-width: 50%;
    max-height: 90%;
    margin: 200px auto;
}

.popup h2 {
    margin-top: 0;
    color: #333;
}

.close-btn {
    position: relative;
    top: 5px;
    right: 20px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
}

.close-btn:hover, .close-btn i:hover {
    color: #ff523b;
}

.popup .close-btn {
    font-size: 16px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #333;
    cursor: pointer;
    z-index: 120;
}

.popup .close-btn:hover, .popup .close-btn i:hover {
    color: #ff523b;
}

.popup .content {
    overflow: auto;
}

.product-colors, .product-sizes {
    margin: 10px 0 20px 0;
}

.message-popup {
    max-width: 40%;
}

.popup .row {
    margin: 0;
}

/* product details */

.product-colors, .product-sizes {
    display: block;
    position: relative;
    font-size: 16px;
}

span.color-dot {
    display: inline-block;
    margin-right: 20px;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    transition: .5s;
}

.product-colors .color-dot:hover {
    transform: scale(1.2);
}

span.size-box {
    display: inline-block;
    margin-right: 20px;
    height: 22px;
    transition: .5s;
    font-weight: bold;
}

.product-sizes .size-box:hover {
    transform: scale(1.2);
}

.colors, .sizes {
    margin: 0 0 20px 0;
}

.prd-btn {
    margin-left: 0;
    margin-top: 5px;
}

.color-container, .size-container {
    display: inline-block;
    position: relative;
    margin: 0 30px 0 10px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.color-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    transition: .5s;
}

.color-container:hover input~.checkmark {
    transform: scale(1.2);
}

.color-container:hover input:checked~.checkmark {
    background-color: '';
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.color-container input:checked~.checkmark:after {
    display: block;
}

.color-container .checkmark:after {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
}

.size-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    padding: 0 5px 0 5px;
    text-align: center;
    transition: 0.5s;
}

.empty-result {
    margin: 10px auto -10px auto;
}

label.empty-checkbox {
    color: tomato;
    height: 20px;
    padding: 10px 5px;
    text-align: center;
    transition: 0.5s;
}

.size-container span {
    padding: auto;
    font-size: 14px;
    font-weight: bold;
}

label.text-label {
    margin-top: 10px;
    font-size: 14px;
}

.product-tags {
    display: flex;
    margin: 10px 0 15px 0;
}

.product-tag {
    margin-right: 10px;
    cursor: default;
}

.product-tag>p {
    background-color: #d8cdc0;
    border-radius: 15px;
    padding: 10px;
}

.bold {
    font-weight: bold;
}

p.text-value {
    margin-top: 10px;
}

.size-container:hover input~.checkbox {
    transform: scale(1.2);
}

.size-container input:checked~.checkbox {
    outline: 2px solid #ff523b;
}

.size-container:hover input:checked~.checkbox {
    background-color: transparent;
}

.quantity {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    justify-content: center;
    padding: 0 auto;
    margin: 5px 0 20px 0;
}

.quantity>input {
    -moz-appearance: textfield;
    border: none;
    height: 25px;
    text-align: center;
    width: 40px;
    font-size: 13px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.qty-plus, .qty-minus {
    background-color: transparent;
    color: #ff523b;
    cursor: pointer;
    height: 25px;
    text-align: center;
    width: 22px;
}

.qty-plus:hover, .qty-minus:hover {
    background-color: #ff523b;
    color: #fff;
}

.qty-minus i, .qty-plus i {
    font-size: 10px;
    line-height: 25px;
}

.popup .gallery-col {
    margin: 0;
    flex-basis: 24%;
    cursor: pointer;
}

.popup .gallery-col img {
    max-height: 85px;
    padding: 2px;
    transition: transform 0.5s;
}

.popup .col-2 img#product-img {
    object-fit: cover;
    object-position: -20% 0;
    max-width: none;
    height: 255px;
    width: 255px;
    padding: 2px;
}

.popup .col-2 img#product-img-p {
    object-fit: cover;
    object-position: -20% 0;
    max-width: none;
    height: 255px;
    width: 255px;
    padding: 2px;
}

.popup .col-2 img#product-img-b {
    object-fit: cover;
    object-position: -20% 0;
    max-width: none;
    height: 255px;
    width: 255px;
    padding: 2px;
}

.popup .gallery-col img:hover {
    transform: scale(1.15);
}

a.bag {
    z-index: 3;
}

/* user */

a.bag:hover {
    color: #ff523b;
}

.user-box {
    position: relative;
    background: transparent;
    height: 30px;
    border-radius: 30px;
    border: none;
    margin: 0 15px;
    transition: color 1s ease;
}

.user-box:hover {
    background: #ff523b;
}

.user-box:hover>.user-info {
    width: 150px;
    padding: auto 6px auto 15px;
}

.user-box:hover>.user-info p {
    width: auto;
    display: inline-block;
    color: #fff;
}

.user-box:hover>.user-box-btn {
    color: #fff;
}

.user-box-btn {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.user-box-btn i.fa {
    font-size: 24px;
}

i.fa-shopping-bag {
    font-size: 24px;
}

.user-info {
    display: flex;
    text-align: center;
    border: none;
    background: none;
    outline: none;
    float: left;
    transition: 0.4s;
    line-height: 29px;
    width: 0px;
    overflow: hidden;
}

.user-info p {
    margin-left: 10px;
    color: transparent;
    font-size: 16px;
    transition: 0.4s;
}

.user-info p {
    display: none;
}

/* search bar */

.search-bar {
    border: none;
    max-width: 400px;
    margin: auto 15px auto 15px;
}

.search-bar form {
    position: relative;
    border-radius: 0.7rem;
    outline: none;
}

.search-bar input, .search-bar button {
    height: 25px;
    color: #ff523b;
    border: 0;
    font-size: 16px;
    background: transparent;
}

.search-bar button {
    color: #ff523b;
    background: transparent;
}

.search-bar button:hover {
    color: #fff;
    background-color: #ff523b;
    cursor: pointer;
}

.search-bar button:focus {
    outline: none;
}

.search-reset {
    font-size: 10px;
    color: #4d4d4d;
}

.search-reset:hover {
    cursor: pointer;
    color: #ff523b;
}

input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.search-bar input[type="search"] {
    outline: 0;
    width: 100%;
    padding: 0 8px;
    appearance: none;
    transition: all 0.5s cubic-bezier(0, 0, 0.43, 1.49);
    transition-property: width, border-radius;
    position: relative;
}

.search-bar button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    font-weight: bold;
    background: transparent;
    border-radius: 50%;
}

.search-bar input:not(:placeholder-shown) {
    width: calc(100% - 25px);
    border-bottom: 2px solid #ff523b;
    outline: none;
}

.search-bar input:not(:placeholder-shown)+button {
    display: block;
}

.search-bar label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.search-bar ul.results {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 230px;
    z-index: 5;
}

.search-bar ul.results li {
    list-style: none;
    padding: 15px 10px;
    border-bottom: 2px solid #FADBD8;
    background: #F8F9F9;
    cursor: pointer;
}

.search-bar ul.results li:hover {
    background: #FFDBC4;
}

.search-bar ul.results li img {
    width: 30px;
    float: left;
}

span.search-link {
    vertical-align: middle;
}

.out-of-stock {
    top: 0px;
    left: 0px;
    position: absolute;
}

/* filters - shop */

.product-col {
    flex-basis: 75%;
}

.filter-col {
    flex-basis: 25%;
}

.filter-card h4 {
    margin-bottom: 10px;
}

.filter-card input {
    width: 80%;
}

/* orders */

.order-container {
    background: #fff;
    width: auto;
    height: auto;
    position: relative;
    text-align: center;
    padding: 20px 20px;
    margin: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

table.order-list td:last-child {
    text-align: center;
}

table.order-items td:last-child {
    text-align: left;
}

table.order-list td img {
    height: 90px;
    margin: 5px 0;
    padding: 0;
}

table.order-list tr {
    border-bottom: 1px solid rgba(255, 82, 59, 0.5);
}

table.order-list tr:last-child {
    border-bottom: none;
}

td.order-details {
    text-align: left;
}

td.order-details h4 {
    margin-bottom: 5px;
    font-weight: bold;
}

td.order-details h5 {
    color: #8A8A8A;
    margin-bottom: 4px;
    font-weight: normal;
}

td.order-messages {
    text-align: left;
}

.order-container table td {
    padding: 10px;
}

.oder-status {
    display: inline-flex;
}

.oder-date {
    display: block;
}

.oder-status h5 {
    color: #8A8A8A;
    font-weight: normal;
    margin-right: 5px;
}

.oder-date h5 {
    color: #8A8A8A;
    font-weight: normal;
    margin-right: 5px;
}

.order-note li {
    margin-top: 5px;
}

.order-note li {
    list-style: none;
    font-weight: normal;
    font-size: 14px;
}

.order-list .item-input {
    color: #8A8A8A;
    display: inline;
    vertical-align: middle;
}

.item-details {
    margin-top: 5px;
}

label.input-data {
    margin-right: 25px;
}

.order-list span.color-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    transition: .5s;
    margin: 0 25px 0 15px;
}

form .row-top {
    margin-top: 40px;
}

form .col-3 {
    flex-basis: 33.33%;
    padding: 10px;
    min-width: auto;
}

.summary-info {
    text-align: left;
}

.summary-info h4 {
    margin-bottom: 8px;
    font-weight: bold;
}

.summary-info h5 {
    margin-bottom: 5px;
    font-weight: bold;
}

.delivery-info {
    text-align: left;
}

label.address {
    text-align: left;
    font-size: 14px;
}

/* table filters */

.table-search input {
    width: 300px;
    height: 30px;
    margin: 3px 0 10px;
    padding: 0 10px;
    font-size: 14px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #DCADA3;
}

.table-search input:hover {
    border-bottom: 2px solid #ff523b;
}

table th i:hover {
    color: #FFDBC4;
}

#user-table th {
    min-width: 125px;
}

.checkboxes {
    display: inline-flex;
    align-items: center;
}

.checkboxes input {
    margin: 0;
}

.checkboxes span {
    margin: 0 10px 0 10px;
}

/* errors */

p.error {
    color: red;
}

p.success {
    color: green;
}

.edit-image-row {
    display: inline;
}

/* menu */

#menuItems {
    max-height: 0;
}

.visited {
    color: #fff;
    background: #ff523b;
}

/* product reviews */

.product-review {
    margin-bottom: 15px;
}

.product-review .row-left {
    margin: 5px 0 5px 0;
}

.product-review i {
    color: #ff523b;
}

.product-review .col-images {
    margin: 0 10px 0 0;
}

.product-review h2 {
    margin: 20px 0 20px 0;
}

.product-review img {
    max-width: 60px;
}

.product-review a {
    color: indianred;
}

.product-review a:hover {
    color: #ff523b;
}

.product-review .row-left .col-2 {
    min-width: 50%;
    min-height: 100px;
}

.product-review .row-left .col-2 img {
    padding: 0;
}

/* form validations */

.helper-text {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.helper-text .popuptext {
    visibility: hidden;
    width: 260px;
    background-color: #FFECE9;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 5;
    bottom: 110%;
    left: 20%;
    margin-left: -80px;
    font-size: 14px;
}

.helper-text .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #FFECE9 transparent transparent transparent;
}

.helper-text .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* notification cards */

.min-card {
    color: rgb(66, 66, 66);
    min-width: 200px;
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    display: block;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.min-card .row {
    justify-content: center;
}

.min-card:hover {
    background-color: rgba(240, 226, 164, 0.527);
}

.fit-size {
    min-width: unset;
}

/* breadcumbs */

.breadcumbs i {
    margin: 5px;
}

.breadcumbs a:hover {
    color: #ff523b;
}

/* notification colors */

.notify {
    color: #e6bc00;
    box-shadow: 0 0 20px 0 rgba(233, 178, 0, 0.2);
}

.warning {
    color: rgb(255, 0, 0);
    box-shadow: 0 0 20px 0 rgba(255, 0, 0, 0.2);
}

.primary {
    box-shadow: 0 0 20px 0 rgba(0, 110, 255, 0.2);
    color: rgb(0, 110, 255);
}

.filter-card h3 {
    margin-left: 10px;
}

/* social media login */

.social-login {
    margin-top: 20px;
    text-align: center;
}

.social-login .row {
    margin-bottom: 10px;
}

.social-login a {
    margin: 0 10px;
}

.social-login a:hover {
    color: #ff523b;
}

/* order tracking */

.tracking-box {
    min-width: 90%;
    padding: 50px;
}

.hh-grayBox {
    background-color: #F8F8F8;
    margin-bottom: 20px;
    padding: 35px;
    margin-top: 20px;
}

.order-tracking {
    text-align: center;
    width: 20%;
    position: relative;
    display: block;
}

.order-tracking .is-complete {
    display: block;
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 0px solid #AFAFAF;
    background-color: #f7be16;
    margin: 0 auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
    z-index: 2;
}

.order-tracking .is-complete:after {
    display: block;
    position: absolute;
    content: '';
    height: 14px;
    width: 7px;
    top: -2px;
    bottom: 0;
    left: 5px;
    margin: auto 0;
    border: 0px solid #AFAFAF;
    border-width: 0px 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

.order-tracking.completed .is-complete {
    border-color: #27aa80;
    border-width: 0px;
    background-color: #27aa80;
}

.order-tracking.completed .is-complete:after {
    border-color: #fff;
    border-width: 0px 3px 3px 0;
    width: 7px;
    left: 11px;
    opacity: 1;
}

.order-tracking p {
    color: #A4A4A4;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 20px;
}

.order-tracking p span {
    font-size: 14px;
}

.order-tracking.completed p {
    color: #000;
}

.order-tracking::before {
    content: '';
    display: block;
    height: 3px;
    width: calc(100% - 40px);
    background-color: #f7be16;
    top: 13px;
    position: absolute;
    left: calc(-50% + 20px);
    z-index: 0;
}

.order-tracking:first-child:before {
    display: none;
}

.order-tracking.completed:before {
    background-color: #27aa80;
}



/* Tooltip text */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    z-index: 100;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* search button on mobile view */

#mobile-search {
    display: none;
    margin-right: 15px;
    margin-top: 3px;
    font-size: 22px;
}

/* media queries */

@media screen and (max-width: 620px) {
    .user-box:hover>.user-info {
        width: 150px;
        padding: 0 6px;
    }
    .order-list td {
        display: inline-block;
        text-align: center;
    }
    .order-list .item-input {
        margin: 0 auto;
        font-size: 12px;
    }
}

@media screen and (max-width: 700px) {
    .popup {
        width: 70%;
    }
    .message-popup {
        max-width: 45%;
    }
}

@media only screen and (max-width: 1150px) {
    .popup {
        max-width: 70%;
    }
    .message-popup {
        max-width: 40%;
    }
    .content-details p {
        font-size: 20px;
    }
    .col-60p, .col-40p {
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .footer-col-5 {
        flex-basis: 100%;
        text-align: center;
    }
    .popup {
        max-width: 80%;
    }
    .message-popup {
        max-width: 40%;
    }
}

@media only screen and (max-width: 920px) {
    nav ul {
        position: absolute;
        top: 85px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        z-index: 5;
    }
    nav ul li {
        display: block;
        margin: 10px 50px 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .search-bar #search {
        display: none;
    }
    #mobile-search {
        display: inline;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
    .footer-col-1, .footer-col-1 {
        flex-basis: 100%;
        text-align: center;
    }
    .col-60p, .col-40p {
        flex-basis: 100%;
    }
    .box-container {
        margin-left: 0;
        margin-right: 0;
    }
    .total-price table {
        max-width: 100%;
    }
    .popup {
        max-width: 85%;
    }
    .message-popup {
        max-width: 40%;
    }
}

@media only screen and (max-width: 1000px) {
    .footer-col-5 {
        flex-basis: 100%;
        text-align: center;
    }
    .popup {
        max-width: 80%;
    }
}

@media only screen and (max-width: 850px) {
    .popup {
        max-width: 90%;
    }
    .message-popup {
        max-width: 40%;
    }
}

@media only screen and (max-width: 800px) {
    .popup {
        width: auto;
        max-width: 95%;
        max-height: 90%;
    }
    .message-popup {
        max-width: 45%;
    }
    .popup .col-2 {
        text-align: center;
    }
    .popup .gallery-row {
        width: 255px;
        display: flex;
        text-align: center;
        justify-content: space-around;
        margin: 0 auto;
    }
    .popup h2 {
        margin-bottom: 5px;
        ;
    }
    .popup h4 {
        margin-bottom: 20px;
        ;
    }
    .popup .gallery-col {
        flex-basis: 100%;
        cursor: pointer;
        margin: 0;
    }
}

@media only screen and (max-width: 750px) {
    .single-product .row .col-2 {
        flex-basis: 100%;
        text-align: center;
    }
    .single-product .gallery-row {
        margin: 0 auto;
    }
    .product-col {
        flex-basis: 100%;
    }
    .filter-col {
        flex-basis: 100%;
    }
    .navbar {
        padding: 20px 20px;
    }
    .filter-card {
        margin: 10px auto 30px auto;
    }
    .order-tracking {
        width: 100%;
    }
    .order-tracking::before {
        content: '';
        display: block;
        height: 50px;
        width: 3px;
        background-color: #f7be16;
        top: 13px;
        position: unset;
        left: unset;
        margin: 5px auto;
        z-index: 0;
    }
}

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }
    .col-2, .col-3, .col-4, form .col-3, form .col-2 {
        flex-basis: 100%;
    }
    .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4, .footer-col-5 {
        flex-basis: 100%;
        text-align: center;
    }
    .footer .payment-icons {
        text-align: center;
    }
    .single-product .row .col-2 {
        text-align: center;
    }
    .single-product .col-2 {
        text-align: center;
        padding: 20px 0;
    }
    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }
    .user-box:hover>.user-info {
        width: 0px;
        padding: auto 6px auto 15px;
    }
    .user-box:hover>.user-info p {
        width: 0px;
        display: flex;
    }
    .message-popup {
        max-width: 50%;
    }
}

@media only screen and (max-width: 400px) {
    .table-search input {
        width: 100%;
    }
}