
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    min-height: 100%;
    font-family: 'Nunito Sans', sans-serif;

}


.navbar{
    display: flex;
    align-items: center;
    padding: 20px 50px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a:hover{
    color: #ff523b;
    transition: background 0.5s;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

::-webkit-scrollbar {
    max-width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ff523b; 
}
::-webkit-scrollbar-thumb:window-inactive {
    display: #ccc; 
}





.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.center-content{
    display: flex;
    justify-content: center;
}

.center-align{
    text-align: center;
}

.form-container{
    background: #fff;
    width: 600px;
    height: auto;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    overflow: hidden;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}


.form-container form{
    padding: 10px 0 10px 0;
    margin: 0;
    text-align: left;
    transition: transform 1s;
}


.pad-auto{
    padding: auto;
}


.form-container label{
    font-size: 14px;
    margin: 3px 0 0;
}

.form-container input, .form-container select{
    height: 30px;
    margin: 3px 0 15px;
    padding: 0 10px;
    border: 1px solid #ccc;
}

.form-container input[type="checkbox" i]{
    margin: 0;
}

.form-container textarea{
    width: 180px;
    margin: 3px 0 15px;
    padding: 0 10px;
    border: 1px solid #ccc;
}


.row{
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-top{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-left{
    display: flex;
    align-items: left; 
    flex-wrap: wrap;
}

.col{
    flex-basis: 100%;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 20px 5px 20px 5px;
    border-style: none;
    border-radius: 5px;
    transition: background 0.5s;
}

.btn:focus{
    outline: none;
}

.btn-round{
    border-radius: 30px;
}

.btn-square{
    border-radius: 0;
}

.btn:hover{
    background: #fff;
    color: #ff523b;
}

.header{
    background: radial-gradient(#fff,#ffd6d6);
}

.header-plain{
    background: none;
}

.header .row{
    margin: 70px;
}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 10px;
}

.col-3 img{
    width: 100%;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.ratings .fa{
    font-size: 10px;
    color: #ff523b;
    padding-bottom: 7px;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title:after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;;
}

.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}

.banner{
    background: radial-gradient(#fff,#ffd6d6);
    height: 300px;
}

.row .banner-img{
    width: 200px;
    padding: 50px;
}


small{
    color: #555;
}

.comments{
    padding-top: 100px;
}

.comments .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.comments .col-3:hover{
    transform: translateY(-10px);
}

.comments .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.comments .col-3 h3{
    font-weight: 600;
    color: #555;
}

.footer{
    margin-top: 45px;
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 15px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4, .footer-col-5{
    min-width: 150px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 25%;
}

.footer-col-5{
    flex-basis: 25%;
    text-align: right;
}

.footer-col-2, .footer-col-3, .footer-col-4{
    flex: 1;
    text-align: center;
}

.footer-col-1 img{
    width: 150px;
    margin-bottom: 20px;
}

.footer ul{
    list-style-type: none;
}

.footer ul li a:hover{
    color: #ff523b;
    transition: background 0.5s;
}

.footer .social-icons a{
    font-size: 20px;
    padding-right: 5px;
}

.footer .social-icons a:hover{
    color: #ff523b;
    transition: background 0.5s;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.footer .payment-icons{
    text-align: right;
    font-size: 20px;
    padding-right: 5px;
}

.footer-btn{
    border: none;
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 10px;
    transition: background 0.5s;
}

.footer-btn:focus{
    outline: none;
}

.footer-btn:hover{
    background: #fff;
    color: #ff523b;
}

.footer-txt-field input{
    border: none;
    display: inline-block;
    background:#fff;
    color: #000;
    padding: 8px 5px;
    transition: background 0.5s;
}

.footer-txt-field input:hover{
    border: none;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* all products page */

.row-2{
    justify-content: space-between;
    margin: 50px auto 50px;
}

select{
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}

/*single prod*/

.single-product{
    margin-top: 80px;
}

.single-product .col-2{
    padding: 20px;
}

.single-product .col-2 img{
    padding: 0;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

input:focus{
    outline: none;
}

.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}

.gallery-row{
    display: flex;
    justify-content: space-between;
}

.gallery-col{
    flex-basis: 24%;
    cursor: pointer;
}

.gallery-col img{
    transition: transform 0.5s;
}

.gallery-col img:hover{
    transform: scale(1.15);
}

.view-more:hover{
    color: #ff523b;
}

.breadcum{
    padding-bottom: 25px;
}

/* item*/

.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;

}

.table-container{
    overflow-x:auto;
}

.cart-item{
    display: flex;
    flex-wrap: wrap;
}

tr:hover{
    background: #fcf2d8;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #ff523b;
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 380px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.table-container td:last-child{
    min-width: 150px;
}

.table-container th:last-child{
    min-width: 150px;
}


/*account*/

.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
}

.login-form-container{
    background: #fff;
    width: 1000px;
    height: 540px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    overflow: hidden;
}

.login-form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}


.login-form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 70px;
    transition: transform 1s;
}

.login-form-container input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn{
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    cursor: pointer;
    margin: 15px 8px 0 8px;
}

form .btn:focus{
    outline: none;
}

#loginForm{
    top: 150px;
    left: 0;
}

#regForm{
    width: 100%;
    left: 300px;
}

form a{
    font-size: 12px;
}

#indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(0px);
    transition: transform 1s;
}


/*admin*/




.hidden-form{
    background: #fff;
    position: relative;
    margin-bottom: 20px;
    padding: 0 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    overflow: hidden;
}

.hidden-form label{
    font-size: 14px;
    margin: 3px 0 0;
}

.hidden-form input, .hidden-form select{
    height: 30px;
    margin: 3px 0 15px;
    padding: 0 10px;
    border: 1px solid #ccc;
}

.pad-30-0-0-85{
    padding: 30px 0 0 85px;
}

.pad-l-55{
    padding: 0 0 0 55px;
}

.form-btn{
    display: inline-block;
}

.center-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.table-btn{
    display: inline-block;
    color: #fff;
    border-style: none;
    padding: 3px 8px;
    border-radius: 5px;
    transition: background 0.5s; 
}

.table-btn:focus{
    outline: none;
}

.btn-blue{
    background: #8cdcf5;
}

.btn-blue:hover{
    background: #fff;
    color: #8cdcf5;
}

.btn-grey{
    background: #666666;
}

.btn-grey:hover{
    background: #fff;
    color: #666666;
}

.btn-red{
    background: #ed2424;
}

.btn-red:hover{
    background: #fff;
    color: #ed2424;
}



.content {
  position: relative;
  max-width: 400px;
  margin: auto;

}

.content .content-overlay {
  background: rgba(255,255,255,0.8);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content .content-onlay{
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-onlay{
  opacity: 0;
}

.content-image{
  width: 100%;
}

.content-onlay .content-details {
        height: 60px;
    background: #fff;
    color: #ff523b;
  opacity: 1;
}

.content:hover .content-onlay .content-details{
  opacity: 0;
}

.content-details {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}


.content-details p{
    color: #ff523b;
    font-size: 28px;
    font-weight: bold;
}


.fadeIn-bottom{
  top: 85%;
}

.fadeIn-top{
  top: 20%;
}

.fadeOut-top{
  top: 85%;
}

.dashboard{
    margin: 70px 0;
}

.dashboard .row{
    justify-content: center;
}

.dashboard .col-3{
    margin: 15px;
}

i .fa-cart-plus{
    width: 100px;
}

.options{
    padding: 15px 0;
}

.options .text{
    font-size: 24px;
}

.options a{
    font-weight: bold;
    color: #ff523b;
    padding: 5px;
}

.options a:hover{
   color: #ffa8f0;
}

#map {
  height: 250px;
  width: 250px;
}

.mar-b-20{
    margin-bottom: 20px;
}

.mar-t-40{
    margin-top: 50px;
    margin-left: 135px;
}

.price-sum{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.price-sum table{
    border: 3px solid #ff523b;
    width: 100%;
    max-width: 380px;
}

textarea:focus{
    outline: none;

}

.product-quicview {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(23, 24, 24, 0.6);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.col-4:hover .product-quicview {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.col-4 .product-quicview > a {
    width: 72px;
    height: 72px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 36px;
    line-height: 72px;
}

.col-4 .product-quicview > a:hover {
    border: 2px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}

.overlay {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 102;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
    width: auto;
    max-width: 60%;
    max-height: 90%;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  transition: all 5s ease-in-out;
  overflow:auto;
}

#cart .popup{
    width: auto;
    max-width: 50%;
    max-height: 90%;
  margin: 200px auto;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close-btn{
  font-size: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 20px;
  color: #333;
  cursor: pointer;
  z-index: 120;
}

.popup .close-btn:hover, .popup .close-btn i:hover{
  color: #ff523b;
}

.popup .content {
  overflow: auto;
}

.product-colors, .product-sizes{
    margin: 10px 0 20px 0;
}


.product-colors, .product-sizes{
  display: block;
  position: relative;
    height: 25px;
  font-size: 16px;

}

span.color-dot {
    display: inline-block;
    margin-right: 20px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  transition: .5s;
}

.product-colors .color-dot:hover{
  transform: scale(1.2);
}

span.size-box {
    display: inline-block;
    margin-right: 20px;
  height: 22px;
  transition: .5s;
  font-weight: bold;
}

.product-sizes .size-box:hover{
  transform: scale(1.2);
}

.colors, .sizes{
    margin: 0 0 20px 0;
}

.popup .row{
    margin: 0;
}

.prd-btn{
    margin-left: 0;
    margin-top: 5px;
}


.color-container, .size-container{
  display: inline-block;
  position: relative;
  margin: 0 30px 0 10px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.color-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  transition: .5s;
}

.color-container:hover input ~ .checkmark {
  transform: scale(1.2);
}

.color-container:hover input:checked ~ .checkmark {
  background-color: ;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.color-container input:checked ~ .checkmark:after {
  display: block;
}

.color-container .checkmark:after {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
}

.size-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  text-align: center;
  transition: 0.5s;
}

.size-container span {
    padding: auto;
  font-size: 14px;
  font-weight: bold;
}

label.text-label{
    margin-top: 10px;
    font-size: 14px;
}

.size-container:hover input ~ .checkbox {
    transform: scale(1.2);
}

.size-container input:checked ~ .checkbox {
    outline: 2px solid #ff523b;
}

.size-container:hover input:checked ~ .checkbox {
  background-color: transparent;
}

.quantity {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    justify-content: center;
    padding: 0 auto;
    margin: 5px 0 20px 0;
}


.quantity > input {
    -moz-appearance: textfield;
    border: none;
    height: 25px;
    text-align: center;
    width: 40px;
    font-size: 13px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.qty-plus,
.qty-minus {
    background-color: transparent;
    color: #ff523b;
    cursor: pointer;
    height: 25px;
    text-align: center;
    width: 22px;
}


.qty-plus:hover, .qty-minus:hover{
    background-color: #ff523b;
    color: #fff;
}

.qty-minus i,
.qty-plus i {
    font-size: 10px;
    line-height: 25px;
}

.popup .gallery-row{
    display: inline-block;
    width: 60px;
    max-height: 240px;
}

.popup .gallery-col{  
    flex-basis: 24%;
    cursor: pointer;
}

.popup .gallery-col img{
    padding: 2px;
    transition: transform 0.5s;
}

.popup .col-2 img#product-img{
    object-fit: cover;
    object-position: -20% 0;
    max-width: none;
    height: 255px;
    width: 255px;
    padding: 2px;
}

.popup .gallery-col img:hover{
    transform: scale(1.15);
}


/* user button */
a.bag:hover{
    color: #ff523b;
}

.user-box {
    position: relative;
    transform:  translate(,50%);
    background: transparent;
    height: 30px;
    border-radius: 30px;
    border: none;
    margin: 0 15px;
}

.user-box:hover{
    background: #ff523b;
}
.user-box:hover > .user-info {
    width: 120px;
    padding: auto 6px auto 15px;
    
}

.user-box:hover > .user-info p{
    width: 120px;
    display: flex;
}

.user-box:hover > .user-box-btn{
  color : #fff;
}

.user-box-btn {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.user-box-btn i.fa{
    font-size: 24px;
}

i.fa-shopping-bag{
    font-size: 24px;
}

.user-info {
    display: flex;
    text-align: center;
    border:none;
    background: none;
    outline:none;
    float:left;
    transition: 0.4s;
    line-height: 29px;
    width: 0px;
    overflow: hidden;
}

.user-info p{
    margin-left: 10px;
    color: #fff;
    font-size: 16px;
    transition: 0.4s;
}

.user-info p{
    display: none;
}

.search-bar{
    max-width: 500px;
    margin: auto 15px auto 50px;
}
.search-bar form {
       position: relative;
       border-radius: 0.7rem;
}
.search-bar input, .search-bar button {
       height: 25px;
       color: #ff523b;
       border: 0;
       font-size: 16px;
}

.search-bar button {
    color: #ff523b;
}

.search-bar button:hover {
    color: #fff;
    background-color: #ff523b;
    cursor: pointer;
}

.search-bar button:focus {
    outline: none;
}
/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search-bar input[type="search"] {
       outline: 0;
       width: 100%;
       background: #fff;
       padding: 0 8px;
       appearance: none;
       transition: all 0.5s cubic-bezier(0, 0, 0.43, 1.49);
       transition-property: width, border-radius;
       position: relative;
}

.search-bar button{
       display: none;
       position: absolute;
       top: 0;
       right: 0;
       width: 25px;
       font-weight: bold;
       background: #fff;
       border-radius: 50%;
}

.search-bar input:not(:placeholder-shown) {
       width: calc(100% - 25px);
       border-bottom: 2px solid #ff523b;

}
.search-bar input:not(:placeholder-shown) + button {
       display: block;
}


.search-bar label {
       position: absolute;
       clip: rect(1px, 1px, 1px, 1px);
       padding: 0;
       border: 0;
       height: 1px;
       width: 1px;
       overflow: hidden;
}

@media screen and (max-width: 620px) {
.user-box:hover > .user-info {
    width: 150px;
    padding: 0 6px;
}
}


@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}

@media only screen and (max-width: 1150px){

    .popup .gallery-row{
    display: flex;
    justify-content: space-between;
}

.popup .gallery-col img{
    width: 100px;
    padding: 2px;
    transition: transform 0.5s;
}

.popup .gallery-col{  
    flex-basis: 100%;
    cursor: pointer;
}
}



@media only screen and (max-width: 1000px){

    .footer-col-5{
        flex-basis: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 900px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        z-index: 1;
    }

    nav ul li{
        display: block;
        margin: 10px 50px 10px;
    }

    nav ul li a{
        color: #fff;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }

    .footer-col-1, .footer-col-1{
        flex-basis: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 600px){

    .row{
        text-align: center;
    }

    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }

    .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4, .footer-col-5{
        flex-basis: 100%;
        text-align: center;
    }

    .footer .payment-icons{
        text-align: center;
    }

    .single-product .row{
        text-align: left;
    }

    .single-product .col-2{
        padding: 20px 0;
    }

    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
}

