/* elements */



/* layout */

.cart-page{
    margin: 80px auto;
}

.cart-item{
    display: flex;
    flex-wrap: wrap;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 380px;
}

/* containers */

/* alignments */

/* other */