.img-col {
    margin: 0;
    padding: 0;
}

.img {
    overflow: hidden;
    position: relative;
    background-image: url('http://localhost/wasthra/public/images/contact_us.jpg');
    background-size: cover;
    width: 260px;
    height: 100%;
}

.img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

iframe {
    position: relative;
    right: 0;
}

.form-container {
    margin: 0;
    height: 100%;
}

body {
    background: linear-gradient(90deg, rgba(255, 215, 215, 1) 0%, rgba(255, 239, 239, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

.col-2 {
    padding: 10px;
}

h3 {
    margin-bottom: 10px;
    color: rgb(39, 39, 39);
}

.min {
    margin-bottom: 10px;
}

.x-min {
    margin-bottom: 30px;
    font-weight: normal;
}

.contact-us i {
    color: #ff523b;
}