
.row{
    justify-content: space-between;
    
}

h3{
    width: 100%;
}
.center{
    justify-content: center;
}



.col-3{
padding: 0;
flex-basis: 33%;
}
/*
#myChart{

    width:1000px !important;
    height:200px !important;
  
  }
  */

.col-60p{
    flex-basis: 60%;
    padding: 10px;
    min-width: 0;
    margin-bottom: 0;
    transition: transform 0.5s;
}

.col-40p{
    flex-basis: 40%;
    padding: 10px;
    min-width: 0;
    margin-bottom: 0;
    transition: transform 0.5s;
}

.card{
    margin: 10px;
    background-color: #fff;
    min-height: 200px;
    padding: 20px;
    display: block;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}

.col-4{
    padding: 0;
    margin-bottom: 10px;
}

.col-2{
    margin-top: 15px;
    margin-bottom: 10px;
}

.pad-l-r-50{
    padding-left: 50px;
    padding-right: 50px;
}

.col{
    margin-top: 20px;
    margin-bottom: 15px;
}

.filter-time{
text-align: center;
margin: 20px;
}

.col-4 .card{
    min-height: unset;
}

h1, h2, h3, h4, h5{
    color: #2A2A2A;
}

@media only screen and (max-width: 1150px){
    .col-40p, .col-60p{
        flex-basis: 100%;
    }
}