/* elements */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

select{
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus{
    outline: none;
}

h4{
    color: #555;
    font-weight: normal;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a:hover{
    color: #ff523b;
    transition: background 0.5s;
}

small{
    color: #555;
}

input:focus{
    outline: none;
}

table{
    width: 100%;
    border-collapse: collapse;
}

tr:hover{
    background: #fcf2d8;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #ff523b;
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

/* layout */

/* grid -> rows */

.row{
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-top{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-left{
    display: flex;
    align-items: left; 
    flex-wrap: wrap;
}

.row-2{
    justify-content: space-between;
    margin: 50px auto 50px;
}

/* grid -> columns */

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 10px;
}

.col-3 img{
    width: 100%;
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.col-4 p{
    font-size: 14px;;
}

.col-4:hover{
    transform: translateY(-10px);
}



/* containers */

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.form-container{
    background: #fff;
    width: 600px;
    height: auto;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    overflow: hidden;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-container form{
    padding: 10px 0 10px 0;
    margin: 0;
    text-align: left;
    transition: transform 1s;
}

.form-container label{
    font-size: 14px;
    margin: 3px 0 0;
}

.form-container input, .form-container select{
    height: 30px;
    margin: 3px 0 15px;
    padding: 0 10px;
    border: 1px solid #ccc;
}




.center-content{
    display: flex;
    justify-content: center;
}

/* buttons */

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 20px 5px 20px 5px;
    border-style: none;
    border-radius: 5px;
    transition: background 0.5s;
}

.btn-round{
    border-radius: 30px;
}

.btn-square{
    border-radius: 0;
}

.btn:hover{
    background: #fff;
    color: #ff523b;
}

.btn-blue{
    background: #8cdcf5;
}

.btn-grey{
    background: #666666;
}

.btn-red{
    background: #ed2424;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}

/* public */

.ratings .fa{
    font-size: 10px;
    color: #ff523b;
    padding-bottom: 7px;
}

/* formattings */

.pad-30-0-0-85{
    padding: 30px 0 0 85px;
}

.pad-l-55{
    padding: 0 0 0 55px;
}
