/* elements */

/* grid */

.header .row{
    margin: 70px;
}

/* containers */

/* alignments */

/* other */

.navbar{
    display: flex;
    align-items: center;
    padding: 20px 50px;
}

.header{
    background: radial-gradient(#fff,#ffd6d6);
}

.header-plain{
    background: none;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}


