@media only screen and (max-width: 1000px){

    .footer-col-5{
        flex-basis: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li{
        display: block;
        margin: 10px 50px 10px;
    }

    nav ul li a{
        color: #fff;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }

    .footer-col-1, .footer-col-1{
        flex-basis: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 600px){

    .row{
        text-align: center;
    }

    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }

    .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4, .footer-col-5{
        flex-basis: 100%;
        text-align: center;
    }

    .footer .payment-icons{
        text-align: center;
    }

    .single-product .row{
        text-align: left;
    }

    .single-product .col-2{
        padding: 20px 0;
    }

    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
}