/* elements */

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

/* layout */

.single-product{
    margin-top: 80px;
}

/* grid */

.gallery-row{
    display: flex;
    justify-content: space-between;
}

.gallery-col{
    flex-basis: 24%;
    cursor: pointer;
}

.gallery-col img{
    transition: transform 0.5s;
}

.gallery-col img:hover{
    transform: scale(1.15);
}

.single-product .col-2{
    padding: 20px;
}

.single-product .col-2 img{
    padding: 0;
}

/* containers */

/* alignments */

/* other */

.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}



.view-more:hover{
    color: #ff523b;
}

.breadcum{
    padding-bottom: 25px;
}